# Machine Learning Operation (MlOps)

### This is from the MlOps ZoomCamp

In [2]:
"""List the various libraries needed for the work"""
import pandas as pd

### Loading the data accordingly

In [3]:
df = pd.read_parquet("./data/green_tripdata_2021-01.parquet")

In [4]:
df.head()

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2021-01-01 00:15:56,2021-01-01 00:19:52,N,1.0,43,151,1.0,1.01,5.5,0.5,0.5,0.00,0.0,None,0.3,6.80,2.0,1.0,0.00
1,2,2021-01-01 00:25:59,2021-01-01 00:34:44,N,1.0,166,239,1.0,2.53,10.0,0.5,0.5,2.81,0.0,None,0.3,16.86,1.0,1.0,2.75
2,2,2021-01-01 00:45:57,2021-01-01 00:51:55,N,1.0,41,42,1.0,1.12,6.0,0.5,0.5,1.00,0.0,None,0.3,8.30,1.0,1.0,0.00
3,2,2020-12-31 23:57:51,2021-01-01 00:04:56,N,1.0,168,75,1.0,1.99,8.0,0.5,0.5,0.00,0.0,None,0.3,9.30,2.0,1.0,0.00
4,2,2021-01-01 00:16:36,2021-01-01 00:16:40,N,2.0,265,265,3.0,0.00,-52.0,0.0,-0.5,0.00,0.0,None,-0.3,-52.80,3.0,1.0,0.00

In [6]:
# The number of data available and shape of data
print("The shape of data is: ", df.shape)

The shape of data is:  (76518, 20)

In [7]:
### Data information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 76518 entries, 0 to 76517
Data columns (total 20 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   VendorID               76518 non-null  int64
 1   lpep_pickup_datetime   76518 non-null  datetime64[ns]
 2   lpep_dropoff_datetime  76518 non-null  datetime64[ns]
 3   store_and_fwd_flag     40471 non-null  object
 4   RatecodeID             40471 non-null  float64
 5   PULocationID           76518 non-null  int64
 6   DOLocationID           76518 non-null  int64
 7   passenger_count        40471 non-null  float64
 8   trip_distance          76518 non-null  float64
 9   fare_amount            76518 non-null  float64
 10  extra                  76518 non-null  float64
 11  mta_tax                76518 non-null  float64
 12  tip_amount             76518 non-null  float64
 13  tolls_amount           76518 non-null  float64
 14  ehail_fee              0 non-null      object
 15  improvement_surcharge  76518 non-null  float64
 16  total_amount           76518 non-null  float64
 17  payment_type           40471 non-null  float64
 18  trip_type              40471 non-null  float64
 19  congestion_surcharge   40471 non-null  float64
dtypes: datetime64[ns](2), float64(13), int64(3), object(2)
memory usage: 11.7+ MB

In [9]:
df_trip_type_2 = df[df.trip_type ==2]

In [10]:
df_trip_type_2

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
6,2,2021-01-01 00:19:14,2021-01-01 00:19:21,N,5.0,265,265,1.0,0.00,180.0,0.0,0.0,36.06,0.0,None,0.3,216.36,1.0,2.0,0.0
15,2,2021-01-01 00:29:05,2021-01-01 00:29:07,N,5.0,42,264,1.0,0.00,10.0,0.0,0.0,2.06,0.0,None,0.3,12.36,1.0,2.0,0.0
30,2,2021-01-01 00:35:29,2021-01-01 00:55:15,N,5.0,74,247,1.0,3.64,13.0,0.0,0.0,0.00,0.0,None,0.3,13.30,2.0,2.0,0.0
43,2,2021-01-01 23:12:41,2021-01-02 01:13:53,N,5.0,95,82,1.0,0.00,9.7,0.0,0.0,2.00,0.0,None,0.3,12.00,1.0,2.0,0.0
45,2,2021-01-01 01:49:29,2021-01-01 01:49:33,N,5.0,244,244,5.0,0.02,12.0,0.0,0.0,2.46,0.0,None,0.3,14.76,1.0,2.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40363,2,2021-01-31 19:26:20,2021-01-31 19:35:47,N,5.0,167,248,2.0,1.31,10.0,0.0,0.0,0.00,0.0,None,0.3,10.30,2.0,2.0,0.0
40364,2,2021-01-31 19:44:54,2021-01-31 20:19:56,N,5.0,147,147,2.0,6.97,30.0,0.0,0.0,0.00,0.0,None,0.3,30.30,2.0,2.0,0.0
40377,2,2021-01-31 20:09:41,2021-01-31 20:10:21,N,5.0,95,95,1.0,0.00,15.0,0.0,0.0,3.06,0.0,None,0.3,18.36,1.0,2.0,0.0
40394,2,2021-01-31 20:38:42,2021-01-31 20:38:45,N,5.0,75,264,1.0,0.00,5.0,0.0,0.0,0.20,0.0,None,0.3,5.50,1.0,2.0,0.0
40430,2,2021-01-31 21:48:08,2021-01-31 22:11:17,N,5.0,69,242,2.0,6.32,16.0,0.0,0.0,0.00,0.0,None,0.3,16.30,2.0,2.0,0.0

In [14]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [16]:
df['time_Travel'] = df.lpep_dropoff_datetime - df.lpep_pickup_datetime

In [17]:
df['time_Travel']

6       0 days 00:00:07
15      0 days 00:00:02
30      0 days 00:19:46
43      0 days 02:01:12
45      0 days 00:00:04
              ...
40363   0 days 00:09:27
40364   0 days 00:35:02
40377   0 days 00:00:40
40394   0 days 00:00:03
40430   0 days 00:23:09
Name: time_Travel, Length: 1238, dtype: timedelta64[ns]

In [22]:
time_travel = df.time_Travel.iloc[0]
time_travel.total_seconds()

7.0

In [25]:
df.time_Travel.apply(lambda time_travel: time_travel.total_seconds())

6           7.0
15          2.0
30       1186.0
43       7272.0
45          4.0
          ...
40363     567.0
40364    2102.0
40377      40.0
40394       3.0
40430    1389.0
Name: time_Travel, Length: 1238, dtype: float64